body {
	padding-top: 50px;
	padding-bottom: 40px;
	background: url("../img/stardust.png") repeat repeat;
}

.container {
	width: 950px;
}

.content {
	background: #fafafa;
	-webkit-border-bottom-right-radius: 11px;
	-webkit-border-bottom-left-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
	min-height: 400px;
}